<!DOCTYPE html>
<html ng-app="restApp">
<head>
	<title>LeafletJS</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/leaflet.css" />
	<link rel="stylesheet" href="css/leaflet.draw.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/leaflet.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/jquery-2.1.4.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/map_info_div_class.js"></script>
	<script src="js/map_coordinates_div_class.js"></script>
	<script src="js/map_controller.js"></script>
	<script src="js/map_directive.js"></script>
	<script src="js/leaflet.draw.js"></script>
</head>
<body ng-controller="MapCtrl">
	<form>
          <button ng-click="updateMapView({lat: 51.50, lng: -0.1250, zoom: 10})">London</button>
          <button ng-click="updateMapView({lat: 48.85, lng: 2.35, zoom: 10})">Paris</button>
          <button ng-click="updateMapView({lat: 49.842, lng: 24.032, zoom: 17})">Lviv</button>
    </form>
	<leaflet_map height="500px" width="100%" coordinates="true" info="true" interactivity="true" add="true"></leaflet_map>
</body>
</html>